.current_agenda {
    align-self: flex-start;
    grid-row: 3;
    grid-column: 2;
    background-color: rgb(78, 69, 48);
    width: 100%;
    padding: 1rem;
}

.time_title {
    color: rgb(165, 132, 52);
    font-size: 1.2rem;
    font-weight: 500;
}

.description {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 200;
}