.chat {
    display: grid;
    grid-template-rows: 1fr auto;
    position: fixed;
    left: 1.02rem;
    bottom: 1rem;
    z-index: 100;
}

.chat_button {
    padding: 0.9rem;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    box-shadow: -7px 0px 34px -21px rgba(0, 0, 0, 0.75);
}

.chat_icon {
    width: 100%;
    height: 100%;
}

.body {
    grid-column: 1;
    grid-row: 1/3;
    width: 20rem;
    height: 30rem;
    display: list-item;
    background-color: rgb(255, 255, 255);
    grid-auto-rows: min-content;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    padding-bottom: 5rem;
    box-shadow: -7px 0px 34px -21px rgba(0, 0, 0, 0.75);
}

.show {
    display: list-item;
}

.hide {
    display: none;
}

.message_box {
    width: 90%;
    height: 3rem;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    justify-self: center;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    padding: .4rem 1rem .4rem 1rem;
    z-index: 1;
    position: absolute;
    bottom: 6rem;
}

.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: .9rem;
    justify-self: start;
    padding-right: .4rem;
}

.icon {
    width: 1.7rem;
    height: 1.7rem;
    justify-self: end;
    cursor: pointer;
}

.icon:active {
    filter: grayscale(50%);
}