.message {
    padding-right: 20%;
    height: max-content;
    margin-bottom: 0.5rem;
    display: grid;
    justify-items: flex-start;
    justify-content: left;
    align-items: center;
}

.text {
    grid-column: 2;
    grid-row: 1;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: rgb(56, 127, 233);
    border-radius: 1rem 1rem 0 1rem;
    color: rgb(255, 255, 255);
    font-size: .9rem;
}

.approved {
    grid-row: 1;
    grid-column: 1;
    width: 1rem;
    height: 1rem;
}

.user_name {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.7rem;
    color: rgb(199, 199, 199);
}